*{
    margin: 0;
}

.MainContainer{
    display: flex;    
    margin-top: 150px;
    justify-content: center;
}
body{
    background-image: url("https://www.mento.co.in/assets/all-topics-bg-c70ac523da68e4c48726cc16261ddb6d5b08a7f43fa4dc0e78f5488466e78514.png"
    );
    background-color: #1a1d24;
}